:root{
    --gradient-top: linear-gradient(0deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.1) 36.98%, rgba(22, 24, 19, 0.3) 70.83%, rgba(22, 24, 19, 0.5) 100%);
    --gradient-bottom: linear-gradient(180deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.1) 21.88%, rgba(22, 24, 19, 0.2) 41.67%, rgba(22, 24, 19, 0.5) 61.98%, rgba(22, 24, 19, 0.6) 78.12%, #161813 100%);


    --sphere-gradient-one: radial-gradient(50% 50% at 20% 25%, #686868 0%, #403F3F 35%, #222222 70%, #000000 100%);
    --sphere-gradient-two: radial-gradient(51.04% 51.04% at 18.94% 26.18%, #686868 0%, #403F3F 36.98%, #222222 70.83%, #000000 100%);
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Tùy chỉnh thanh cuộn */
::-webkit-scrollbar {
    width: 7px; /* Chiều rộng của thanh cuộn */
}

::-webkit-scrollbar-thumb {
    background-color: #494b52; /* Màu nền của "nút" thanh cuộn */
    border-radius: 6px; /* Độ cong góc của "nút" thanh cuộn */
}

::-webkit-scrollbar-track {
    background-color: #0a0d13; /* Màu nền của "đường dẫn" thanh cuộn */
}



body {
    margin: 0;
    font-family: var(--system-ui);
    height: 100%;
}
.grid-container {
    overflow-x: hidden;
    overflow-y: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px;
}
.map { 
    padding-top: 15%;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.svg{
    transform: scale(1.25);
}
.colorChange:hover path {   
    box-shadow: 0 0 1rem #888686;
    filter: brightness(1) saturate(150%);
}
.colorChange {
    transition: all 0.3s ease;
}

.description{
    color: white;
    font-weight: 400;
    width: 60%; 
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4%; 
    font-size: 17px;
    line-height: 1.5;
    border-radius: 15px;
}
#card{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
@media (max-width: 1113px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-gap: 10px;
        display: flex; 
        flex-wrap: wrap;
        padding: 0 20px;
    }
    #card {
        margin-top: 40px;
        width: 100%;
    }
    .tours-container {
        margin-top: 60px !important;
    }
    .description {
        width: 100%;
        padding: 20px;
        line-height: 1.5;
    }
    body {
        overflow: auto;
    }
    .tours-container{
        display: auto;
    }
    .map {
        display: none;
    }
}